{% extends 'personal.html' %}

<html>
<head>
{#------------------------------       重要！！！！     ----------------------------------    #}

{#------------------------------       重要！！！！     ----------------------------------    #}

	<title>Music System</title>
    <base href="/">
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href={% static 'personal/css/personal.css' %} />
</head>
<body>
    {#   导航栏   #}
    {% block nav %}
    {{ block.super }}
    {% endblock nav %}

{#******************************   内容     ********************************* #}
{% block every_content %}
{{ block.super }}

{% endblock every_content %}


{% block user_info %}
<div id = "personal_info_content_content">
    <div class = "personal_info_content_content_content">
        <span class="personal_info_content_span"><b>用户ID：</b></span>
        <span class="personal_info_content_span">{{ user.username }}</span>
    </div>

    <div class = "personal_info_content_content_content">
        <span class="personal_info_content_span"><b>用户名：</b></span>
        <span class="personal_info_content_span">{{ user_name }}</span>
    </div>

    <div class = "personal_info_content_content_content">
        <span class="personal_info_content_span"><b>用户邮箱：</b></span>
        <span class="personal_info_content_span">{{ user_email }}</span>
    </div>

    <div class = "personal_info_content_content_content">
        <span class="personal_info_content_span"><b>手机号：</b></span>
        <span class="personal_info_content_span">{{ user_phone }}</span>
    </div>

</div>
    <div id = "personal_info_buttton">

        <div class = "personal_change">
            <span>
               <a href="{% url 'personal_edit' %}">
                   修改信息
               </a>
            </span>

        </div>
        <div class = "personal_change">
            <span>
                <a href="{% url 'logout' %}">
                    退出
                </a>
            </span>

        </div>
    </div>
{% endblock user_info %}
</body>
</html>