{% extends 'template.html' %}

<html>
<head>
{#------------------------------       重要！！！！     ----------------------------------    #}

{#------------------------------       重要！！！！     ----------------------------------    #}

	<title>Music System</title>
    <base href="/">
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    {% load staticfiles %}

    <link rel="stylesheet" href={% static 'css/personal.css' %} />
</head>
<body>
    {#   导航栏   #}
    {% block nav %}
    <div class="nav">
          <div class="container">
            <div class="menu fhNav">
                <div class="bottomLine" id = "bottomLine_4"></div>
                <ul class="inner-nav clear">
                  <li><a href="{% url "index" %}">首页</a></li>
                  <li><a href="{% url "music" %}">曲库</a></li>
                  <li ><a href="{% url "singer" %}">搜索</a></li>
                {% if user.is_authenticated %}
                    <li  class="selectedNav" id = "index_user"><a href="{% url "personal_show" %}">个人中心</a></li>
                {% else %}
                    <li  class="selectedNav" id = "index_user"><a href="{% url "login" %}">个人中心</a></li>
                {% endif %}
                </ul>
            </div>
          </div>
        </div>
<div class="index_search">

        <form role="search" action="{% url 'search' %}" method="get">
            {% csrf_token %}
            <input type="search"
                   id="index_search_text"
                   placeholder="请输入歌名或歌手名："
                   name = "search_text"
                    required
            >

            <button type="submit" id = "index_search_button"><img src="{% static 'image/search.png' %}"></button>
        </form>

</div>
    {% endblock nav %}

{#******************************   内容     ********************************* #}
{% block every_content %}
    <div class = "personal_wrap">

        <div id = "personal_info">
            <div id = "personal_info_content">
                <div class = "personal_info_title"><h1>用户信息</h1>

                </div>
                    {% block user_info %}

                    {% endblock user_info %}
            </div>
        </div>

        <div id = "personal_fav">
            <div id = "personal_fav_content">
                <div  class = "personal_info_title"><h1>收藏夹</h1></div>

                <div class = "personal_song">
                    <div class="personal_song_title">
                        <div class="personal_song_span"><h2>歌曲名</h2></div>
                        <div class="personal_song_span"><h2>歌曲id</h2></div>

                    </div>

                    {% for item in fav_list %}
                        <div class = "personal_song_content">
                            <div class="personal_song_span"><a href="{% url 'song_info'%}?songid={{item.song_id}}"  >
                                <td>{{ item.song_title }}</td>
                            </a></div>
                                <div class="personal_song_span"><td>{{ item.song_id }}</td></div>

                        </div>

                    {% endfor %}

                    <div class = "personal_song_content_white">
                    </div>

            </div>
        </div>
        </div>
        <div id = "personal_his">
            <div id = "personal_his_content">
                <div  class = "personal_info_title"><h1>评分记录</h1></div>

                <div  class = "personal_song">
                    <div class="personal_song_title">
                        <div class="personal_song_span"><h2>歌曲名</h2></div>
                        <div  class="personal_song_span"><h2>歌曲id</h2></div>
                        <div class="personal_song_span"><h2>评分</h2></div>
                    </div>


                        {% for item in his_list %}
                            <div class = "personal_song_content">
                                <div class="personal_song_span"><a href="{% url 'song_info'%}?songid={{item.song_id}}"  >
                                    <td>{{ item.song_title }}</td>
                                </a></div>
                                    <div class="personal_song_span"><td>{{ item.song_id }}</td></div>

                                <div class="personal_song_span"><td>{{ item.p }}</td></div>
                            </div>
                        {% endfor %}


                    <div class="col-md-4 col-md-offset-3">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="music_nav_li">
                  <a href="?page={{ pre_page }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                  {% for index in page_num %}
                      <li  class="music_nav_li"><a href="?page={{ index }}">{{ index }}</a></li>
                  {% endfor %}


                <li  class="music_nav_li">
                  <a href="?page={{ next_page }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            </div>
                        <div class = "personal_song_content_white">
                    </div>
                </div>

            </div>
        </div>



</div>

{% endblock every_content %}
</body>
</html>